.product{
  margin-top: 20px;
  background-color: white;
  // height: 200px;
  .wrap-slider{
    width:100%;
    // margin:20px auto;
    // height:400px;  
  }
  .slider-item{
    width: 86% !important;
  }
  .contain-img{
    padding: 10px;
    position: relative;
    height: 95px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }
}